<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

	<appSettings>
		<add key="Sql.ConnectionString" value="data source=localsql;initial catalog=telerik;Integrated Security=True;" />
		<add key="Sql.DisableTriggersQuery" value="insert into dbo.TriggerDisabledUsers select [UserName] = Suser_sname(), [IsActive] = 1 where not exists (select * from TriggerDisabledUsers TR where TR.[UserName] = Suser_sname())" />
		<add key="Sql.EnableTriggersQuery" value="delete from dbo.TriggerDisabledUsers where UserName = Suser_sname()" />
		<add key="Sql.ConnectionString" value="data source=localsql;initial catalog=telerik;Integrated Security=True;" />
		<add key="Sql.GetActivitiesInRangeQuery" value="SELECT * FROM [crm].[Activity] WITH(NOLOCK) WHERE ActivityId >= @StartActivityId AND ActivityId &lt;= @EndActivityId" />
		<add key="Sql.SetActivityShortDescriptionQuery" value="UPDATE crm.Activity SET ShortDescription = @ShortDescription WHERE ActivityId = @ActivityId" />
		<add key="CloudFiles.Username" value="telerik.database" />
		<add key="CloudFiles.ApiKey" value="a576cba117664ecf8c3f7d9a69c70bac" />
		<add key="CloudFiles.ContainerName" value="telerik" />
		<add key="CloudFiles.EnvironmentName" value="SIT" />
		<add key="Security.IV" value="159 222 174 45 34 193 123 14 6 30 78 98 152 65 167 235" />
		<add key="Security.Key" value="101 222 137 0 74 115 80 195 179 182 154 123 164 79 149 174 1 151 127 7 140 147 114 245 48 244 7 18 36 134 27 205" />
	</appSettings>
	
	<system.net>
		<connectionManagement>
			<add address="*" maxconnection="100" />
		</connectionManagement>
	</system.net>
</configuration>